<ion-img
src="../../../assets/icon/logoTest.png"
  alt="The Wisconsin State Capitol building in Madison, WI at night" 
  class="logo-login"
></ion-img>
<ion-card>
  <ion-card-header>
    <ion-card-title class="title-login">LOGIN</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="email">
            <div slot="label">Email*</div>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="formLogin.get('email')?.dirty && formLogin.get('email')?.hasError('email')" class="remove-list-line">
          <p class="text-danger">
            Invalid email format
          </p>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" type="password" formControlName="password">
            <div slot="label">Password*</div>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="formLogin.get('password')?.dirty && formLogin.get('password')?.hasError('minlength')" class="remove-list-line">
          <p class="text-danger" >
            Minimum 6 characters required
          </p>
        </ion-item>
        <ion-item class="submit-button-login remove-list-line">
          <ion-button type="submit" [disabled]="formLogin.invalid" size="default">Log In</ion-button>
        </ion-item>
      </ion-list>
    </form>
  </ion-card-content>
<ion-list class="links-login ">
  <ion-item class="remove-list-line">
    <a>mot de passe oublié</a>
  </ion-item>
  <ion-item class="remove-list-line">
    <a  [routerLink]="['/auth/sign-up']" routerLinkActive="router-link-active" >creer un compte</a>
  </ion-item>
</ion-list>
</ion-card>
