ion-card{
    margin: auto auto;
    
    width: 90vw;
    .submit-button-login {
      ion-button{
        margin: 0 auto;
        font-weight: bold;
        margin-top: 10%;
    }
    }
}
.title-login{
    text-align: center;
}
.logo-login{
    width: 40vw;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 10vh;
    align-self: center;
}
.links-login{
    a {
        margin: 0 auto;
        text-align: center;
    }
}

:host {
    body {
      background-color: var(--ion-color-dark);
    }
  
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
  
    ion-item {
      --border-radius: 8px;
      margin-bottom: 8px;
    }
  
    .logo-container {
      text-align: center;
  
      h1 {
        font-size: 32px;
        font-weight: 800;
      }
  
      p {
        margin-bottom: 42px;
      }
    }
  }
  