<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{user.firstname}} {{user.lastname}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list id="inbox-list">
      <ion-list-header>Inbox</ion-list-header>
      <ion-note>hi&#64;ionicframework.com</ion-note>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- <div #mapContainer [style.height]="mapHeight" [style.width]="mapWidth"></div> -->
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" #departFeild>
          <div slot="label">Depart</div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" type="password" >
          <div slot="label">Destination</div>
        </ion-input>
      </ion-item>

      <ion-item class="submit-button-login remove-list-line">
        <ion-button type="submit" [disabled]="true" size="default">Confirmer</ion-button>
      </ion-item>
    </ion-list>
    <div>
      <app-map></app-map>

    </div>

  </ion-content>
</div>

<!-- <ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>Inbox</ion-list-header>
      <ion-note>hi&#64;ionicframework.com</ion-note>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list id="labels-list">
      <ion-list-header>Labels</ion-list-header>

      <ion-item *ngFor="let label of labels" lines="none">
        <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>{{ label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
